<?php include "./admin/view/Public/header.html"; ?>
<!-- *********内容************* -->
<div style="width:500px">
	<div>
		<a class="btn btn-default" href="index.php?m=admin&c=friendlink&a=setting">增加</a>
	</div>
	<div style="margin-top:10px">
		<table class="table">
	    	<tr>
	    		<td>Id</td>
	    		<td>名称</td>
	    		<td>链接</td>
	    		<td>排序</td>
	    		<td>状态</td>
	    		<td>操作</td>
	    	</tr>
	    	<?php foreach($lists as $key=>$value){ ?>
	    	<tr>
	    		<td><?php echo $value['id'] ?></td>
	    		<td><?php echo $value['name'] ?></td>
	    		<td><?php echo $value['link'] ?></td>
	    		<td><?php echo $value['sort'] ?></td>
	    		<td><?php echo $value['is_del'] ?></td>
	    		<td>
	    			<a href="index.php?m=admin&c=friendlink&a=del&id=<?php echo $value['id'];?>">删除</a>
	    		</td>
	    	</tr>
	    	<?php } ?>
	    </table>
	</div>
    
</div>
<!-- *********内容************* -->
<?php include "./admin/view/Public/footer.html"; ?>            